/*
DEPRECATED DEPRECATED

css rules*/
/* selector: h1 */
/* declaration block : code inside*/
/* property : color */
/* value: specifc color */


html{
    background-color: rgb(24, 24, 24);
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.7vh 5.597vw;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
h1{
    color:white;

}
h2{
    color:white;
}
h3{
    color:white;
    
}
h4{
    color:white;

}
p{
    color: beige;
}

.palette_color_1{
    color:#A24936;
}
.palette_color_2{
    color:#618985;
}
.palette_color_3{
    color:#181818;
}
.palette_color_4{
    color:#D36135;
}
.palette_color_5{
    color:#F8E5EE;
}












